$body-font-family: "Apple SD Gothic Neo", "Malgun Gothic", sans-serif; 
$border-radius-root: 6px; 
$font-size-root: 14px;

$color-main : #ff3322; 
$color-sub : #334455; 
$color-gray-1 : #333333; 
$color-gray-2 : #666666; 
$color-gray-3 : #999999;

