@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/sebang/SebangGothic.css');

// 폰트
$body-font-family: 'Noto Sans KR', 'Do Hyeon', sans-serif; 
$sub-font-family: 'Do Hyeon', 'Noto Sans KR', sans-serif; 
$menu-font-family: 'SebangGothic','Do Hyeon', 'Noto Sans KR', sans-serif; 

/* font-standard-size: */
$font-standard-size: 16px;

/* Screen-size: */
$breakpoint-small :580px;
$breakpoint-medium : 1350px;
$breakpoint-large :1920px;

// 스크롤 
$card-border-radius: 15px;
$scroll-width: 4px;
$scroll-height: 17%;
$scroll-background-color: #C4C4C4;
$scroll-border-color: #707070;
$scroll-border-radius: 10px;

// 컬러
$color-main : #ff3322; 
$color-sub : #334455; 
$color-white : #ffffff;
$color-black : #000000;
$color-title : #080808; 
$color-desc : #626262; 
$color-footer : #777777; 
$color-border : #BFBFBF; 

$color-primary : #EDEDE5;
$color-accent  : #F0A30F;
$color-secondary  : #FEF8EC;




